<div class="admin-wrapper">
    <aside class="sidebar">
        <div class="logo">Delivery UTP Admin</div>
        <nav>
            <ul>
                <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                <li><a routerLink="/admin/products">Productos</a></li>
                <li><a routerLink="/admin/offers">Ofertas</a></li>
                <li><a routerLink="/admin/orders">Ventas</a></li>
                <li><a routerLink="/admin/complaints">Reclamaciones</a></li>
                <li><a routerLink="/">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </aside>
    <main class="admin-content">
        <router-outlet></router-outlet>
    </main>
</div>