<div class="container d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg border-0" style="max-width: 400px; width: 100%; border-radius: 12px;">
      <div class="card-body p-5">
          <div class="text-center mb-4">
            <i class="fa-solid fa-shield-halved fa-3x text-success mb-3"></i>
            <h3 class="fw-bold text-dark">Nueva Contraseña</h3>
          </div>
          
          <p class="text-muted text-center small mb-4">
            Por seguridad, crea una contraseña que no hayas usado antes.
          </p>

          <div class="mb-4">
            <label class="form-label fw-bold small text-secondary">Nueva Contraseña</label>
            <div class="input-group">
                <span class="input-group-text bg-white"><i class="fa-solid fa-lock text-muted"></i></span>
                <input type="password" class="form-control border-start-0" [(ngModel)]="password" placeholder="********">
            </div>
          </div>

          <button class="btn btn-success w-100 py-2 fw-bold" (click)="guardar()" [disabled]="loading">
              {{ loading ? 'Guardando...' : 'Confirmar Cambio' }}
          </button>
      </div>
    </div>
</div>